 * {
     margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
     border: border-box;

 }

 .navbar {
     height: 60px;
     background-color: #0f1111;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }

 .nav-logo {
     height: 50px;
     width: 100px;
     margin-right: 10px;

 }

 .logo {
     background-image: url(logo.png);
     height: 50px;
     width: 100px;
     background-size: cover;




 }

 .border {
     border: 2px solid transparent;

 }

 .border:hover {
     border: 2px solid white;

 }

 .add-first {
     color: #cccccc;
     font-size: 0.85rem;
     margin-left: 15px
 }

 .add-sec {
     font-size: 1rem;
     margin-left: 3px;
 }

 .add-icon {
     display: flex;
     align-items: center;
 }

 /** box 3 search bar**/

 .nav-search {
     display: flex;
     width: 620px;
     height: 40px;
     border-radius: 3px;
     background-color: aqua;
     margin: 20px;
     justify-content: space-evenly;
 }

 .nav-search:hover {
     border: 2px solid orange;
 }

 #search-select {
     background-color: #f3f3f3;
     width: 50px;
     text-align: center;
     border: none;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
 }

 .search-input {
     width: 100%;
     font-size: 1rem;
     border: none;
 }

 .search-icon {
     width: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5rem;
     background-color: #ff9812;
     color: #0f1111;
     border-bottom-right-radius: 3px;
     border-top-right-radius: 3px;
 }

 /** box 4 and 5 sgin in & returns**/

 span {
     font-size: 0.7rem;
 }

 .nav-sec {
     font-size: 0.85rem;
     font-weight: 700;

 }

 /** box6 cart bar**/

 .nav-cart i {
     font-size: 30px;
 }

 .nav-cart {
     font-size: 0.85rem;
     font-weight: 700;
 }

 .panal {
     height: 40px;
     width: auto;
     background-color: #222f3d;
     display: flex;
     color: rgb(241, 241, 241);
     justify-content: space-evenly;
     align-items: center;
 }

 .panel-ops {
     display: inline;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 3px;

 }

 .panel-ops p {
     margin: 0 8px;
     padding: 4px 5px;
     font-size: small;
     font-weight: 540;
 }

 .panel-ops p:hover {
     border: 1px solid white;

 }

 /* yaha say hum body ko edit kery gy 
    ..hero section */

 .hero-section {
     background-image: url(hero.jpg);
     background-size: cover;
     height: 500px;
 }

 /** yaha say shop section strt ho rha hai**/

 .shop-section {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     background-color: #e2e7e6;

 }

 .box {
     height: 400px;
     /**border: 2px solid black;**/
     width: 23%;
     background-color: white;
     margin-top: 15px;
 }

 /**yaha say hum box 1 ka content daly gy**/

 .box1-image {
     background-image: url(box1.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }

 /** yaha say jasie html kia yah b hum copy paste kery gy**/
 .box2-image {
     background-image: url(box2.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }


 .box3-image {
     background-image: url(box3.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }

 .box4-image {
     background-image: url(box4.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }

 /** yaha say next div ka bos copy honge**/

 .box5-image {
     background-image: url(box5.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }

 .box6-image {
     background-image: url(box6.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }


 .box7-image {
     background-image: url(box7.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }

 .box8-image {
     background-image: url(box8.jpg);
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .box-content {
     margin-right: 15px;
     margin-left: 15px;
 }

 .box-content p {
     color: rgb(30, 30, 255);
 }

 /** footer section **/

 footer {
     margin-top: 15px;
 }

 .foot-panel {
     height: 50px;
     background-color: #37475a;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1rem;
 }

 .foot-panel2 {
     background-color: #222f3d;
     color: white;
     height: 550px;
     display: flex;
     justify-content: space-evenly;
 }

 ul a {
     display: block;
     color: #dddddd;
     font-size: 1rem;
     margin-top: 15px;
     text-decoration: none;
 }

 ul {
     margin-top: 15px;
 }

 ul a:hover {
     text-decoration: underline;
 }

 .foot-panel3 {
     height: 70px;
     background-color: #37475a;
     border-top: 0.5px solid white;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .logo2 {
     background-image: url(logo.png);
     height: 50px;
     width: 100px;
     background-size: cover;

 }

 .foot-panel4 {
     height: 100px;
     background-color: #37475a;
     color: white;
     font-size: 1rem;
     text-align: center;


 }

 .pages {
     padding: 25px;
 }
 .pages a:hover 
 { 
 text-decoration: underline;
 }

 .copy {
     padding: 1px;
 }
